html{
  text-align: center;
  background-color: rgb(46, 44, 46);

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.title {
  font-size: 5rem;
  color: antiquewhite;
}
.player-choice {
  display: flex;
  justify-content: space-evenly;
  width: 33%;
}
.player-choice,img{
  height: 15rem;
  border-radius: 15%;
}
.game-board {
  display: flex;
  justify-content: space-evenly;
}
.player {
  display: flex;
  font-size: 2.5rem;
    color: antiquewhite;

}
.computer {
  display: flex;
  font-size: 2.5rem;
  color: antiquewhite;

}
.alerts {
  font-size: 2rem;
}